body {
    background-color: #836c6c;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 100px 100px;
    text-align: center;
    font-size: 1.2rem;
}
